.LanguageToggle {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-around;
  font: inherit;
}

.LanguageToggle ul {
  list-style: none;
}

.LanguageToggle li:empty {
  display: none;
}

.LanguageToggle button {
  color: white;
  font: inherit;
  display: flex;
  display: inline-block;
  border-radius: 50%;
}
